page-admin-home {

}
#card1{
	background-color: #c671c6;
}
#card2{
	background-color: #6395b2;
}
#card3{
	background-color: #64b263;
}
#card4{
	background-color: #af5b5b;
}
h2.card-title{
	color: white;
}