<!--
  Generated template for the UserChatroomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="head">
    <ion-row *ngIf="((profilePromise | async) && (activePromise | async )) as head ">
    	<img id="user_img" src="{{userPhoto}}" >
      <ion-title id="name" style="display: inline-block;, margin-bottom: 100px;">{{userFirstName}} {{userLastName}}</ion-title>
       <button style="background-color: transparent; display: inline-block;" >
          <ion-icon class="more" name="pin" style="zoom:2.0;" (click)="gotoGeo()"></ion-icon>
        </button>
      <p *ngIf="isActive && activeWhen" style="color:green">Active {{activeWhen}}</p> 
      <p *ngIf="!isActive && activeWhen" style="color:whitesmoke">Active {{activeWhen}}</p> 
    </ion-row>
      <ion-buttons end>
  	    <button style="background-color: transparent;" >
  	    	<ion-icon class="more" name="md-more" style="zoom:2.0;"></ion-icon>
  	    </button>
  	  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="chatroom_content" padding>
  <div class="chatwindow">
    <ion-list no-lines>
      <ion-item *ngFor = "let message of messages" text-wrap>
        <ion-avatar item-left *ngIf="message.sender === receiverKey">
          <img src="{{userPhoto}}">
        </ion-avatar>
        <div class="bubble me" *ngIf="message.sender === receiverKey">{{message.message}}</div>
        <div class="bubble you" *ngIf="message.sender === authKey">{{message.message}}</div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-row>
        <ion-col col-9 no-padding>
             <ion-input type="text" [(ngModel)]="myMessage" (change)="checkMessage()" placeholder="Type something..." id="input_box" style="width: 80%;"></ion-input>
        </ion-col>
        <ion-col no-padding>
            <button no-margin ion-button round full large color="primary" id="send" [disabled]="messageEmpty" (click)="sendMessage()">
            	<ion-icon name="send" ></ion-icon>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>