<!--
  Generated template for the UserChatroomPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar class="head">
    <ion-row *ngIf="((profilePromise | async) && (activePromise | async )) as head ">
      <ion-col col-3>
        <img id="user_img" src="{{userPhoto}}" >
      </ion-col>
      <ion-col>
        <ion-title id="name">{{userFirstName}}</ion-title>
        <ion-row>
            <div class="active">
              <small *ngIf="isActive && activeWhen" style="color:#32CD32">Active {{activeWhen}}</small> 
              <small *ngIf="!isActive && activeWhen" style="color:whitesmoke">Active {{activeWhen}}</small> 
            </div>
        </ion-row>
      </ion-col>
        <!-- <button style="background-color: transparent; display: inline-block;" >
          <ion-icon class="gps" name="pin" (click)="gotoGeo()"></ion-icon>
        </button>  -->
    </ion-row>
      <ion-buttons class="more_button" end (click)="presentPopover($event)">
        <button style="background-color: transparent;">
          <ion-icon class="more" name="md-more" ></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="chatroom_content" padding >
  <!-- <div class="chatwindow">
    <ion-list no-lines>
      <ion-item *ngFor = "let message of messages" text-wrap>
        <ion-avatar item-left *ngIf="message.sender === receiverKey">
          <img src="{{userPhoto}}">
        </ion-avatar>
        <div class="bubble me" *ngIf="message.sender === receiverKey">{{message.message}}</div>
        <div class="bubble you" *ngIf="message.sender === authKey">{{message.message}}</div>
      </ion-item>
    </ion-list>
  </div> -->
  <ion-list>
    <ion-grid *ngFor = "let message of messages">
      <ion-row *ngIf="message.sender === receiverKey">
        <img class="circle_pic" src="{{userPhoto}}">
        <ion-col col-9>
          <div> 
            <div class="chatmate" *ngIf="message.type == 'message'">
              <p>{{message.message}}</p>
            </div>
            <div *ngIf="message.type =='image'">
              <img src="{{message.image}}" alt="No photo available." (click)="displayImage(message.image)">
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="message.sender === authKey">
        <ion-col col-3></ion-col>
        <ion-col>
          <div class="user" *ngIf="message.type =='message'" >
            <p>{{message.message}}</p>
          </div>
          <div *ngIf="message.type =='image'">
            <img src="{{message.image}}" alt="No photo available." (click)="displayImage(message.image)">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-row *ngFor= "let image of loadingImage">
      <ion-col col-3></ion-col>
      <ion-col>
        <div class="user">
          <img src="{{image.image}}" alt="No photo available.">
        </div>
      </ion-col>
    </ion-row>
  </ion-list>
  
</ion-content>

<ion-footer>
    <ion-row>
        <ion-col col-8>
             <ion-input type="text" [(ngModel)]="myMessage" (ionChange)="checkMessage()" placeholder="Type something..." id="input_box"></ion-input>  
             <!-- Change to text area? -->
        </ion-col>
        <ion-col>
           <button id="send_pic" (click)="sendImage()">
              <ion-icon name="image"></ion-icon>
            </button>
          </ion-col>
        <ion-col>
            <button id="send" [disabled]="messageEmpty" (click)="sendMessage()">
              <ion-icon name="send" ></ion-icon>
            </button>
        </ion-col>
    </ion-row>
</ion-footer>