page-user-chatroom {
	#send{
		height: 45px;
	}
	#input_box{
		border-radius:5px
	}
	#user_img{
		width:40px;
	    height:40px;
	    -webkit-border-radius: 40%;
	    border-radius: 40%;
	}
	.chatroom_content{
		background-color: #1a2128;
	}
	.toolbar-background {
 	 	background-color: #566677;
	}
	.more{
		color: white;
	}
}
