page-user-chatroom {
	#send{
		height: 45px;
	}
	#input_box{
		border-radius:5px
	}
	#user_img{
		width:40px;
	    height:40px;
	    -webkit-border-radius: 40%;
	    border-radius: 50%;
	    object-fit: cover;
	    border-style: solid;
	    border-color: white;
  		border-width: 2px;
	}
	.chatroom_content{
		background-color: #29263E;
	}
	.toolbar-background {
 	 	background-color: #29263E;
	}
	.more{
		color: white;
	}
	ion-footer{
		border-radius: 40px;
		background-color: white;
	}
}
