<!--
  Generated template for the UserRewardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
	<div *ngIf="isReward">
		<ion-card padding>
			DAILY REWARD IS UP!! PLEASE CHOOSE YOUR METHOD OF ACQUIRING YOUR REWARD.
		</ion-card>
		<ion-icon name="help" (click)="rewardHelp()"></ion-icon>
		<ion-card style="min-height: 200px" (click)="rewardCards()">
			<p>DRAW CARDS</p>
		</ion-card>
		<ion-card style="min-height: 200px" (click)="rewardAsk()">
			<p>QUESTION AND ANSWER</p>
		</ion-card>
	</div>
	<div *ngIf="!isReward">
		<ion-card padding>
			YOU ALREADY CLAIMED YOUR DAILY REWARD!
			PLEASE CHECK OUT TOMORROW!
		</ion-card>
	</div>
</ion-content>
