<!--
  Generated template for the UserDrawPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="draw" padding>
	<div class="maindiv">
		<ion-card class="parent_card">
			<ion-card-header text-center>
				<h2 style="color: white;">Lucky Draw</h2>
			</ion-card-header>
			<ion-card-content>
				<ion-grid no-padding>
					<ion-row id="card_row" text-center>
						<ion-col id="card_col" *ngFor="let card of coinCards; let i = index" no-padding text-center>
							<div class="main_card_div"  (click)="pickCard(card, i)">
								<div class="fixed">
									<ion-card class="main_card" *ngIf="!hasChosen">
										<img src="../../../assets/icon/logo_2.png">
									</ion-card>
									<ion-card class="main_card" *ngIf="hasChosen && cardNumber === i" text-center>
										<h1 id="num" style="color: white">{{card}}</h1>
									</ion-card>
								</div>
							</div>
						</ion-col>
					</ion-row>
					<ion-row padding>
						<ion-col>
							<div class="bottom" *ngIf="!hasChosen">
								<h5 class="bottom_text">Pick a card</h5>
								<small class="bottom_text">Tap to continue</small>
							</div>
							<div class="bottom" *ngIf="hasChosen">
								<p style="color: white;">You earned {{coinEarned}} coins!</p>
								<button clear ion-button (click)="continue()">Continue</button>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-card-content>
			<ion-row class="cardfooter">
				<ion-col text-center>
					<ion-icon class="card_icon" name="close-circle" (click)="close()"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-card>
	</div>

</ion-content>
