<!--
  Generated template for the UserDrawPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
	<ion-card>
		<ion-card-header>Lucky Draw</ion-card-header>
		<ion-card-content>
			<div *ngFor="let card of coinCards; let i = index"  (click)="pickCard(card, i)">
				<ion-card *ngIf="!hasChosen" style="min-height: 100px">
					Flip cards
				</ion-card>
				<ion-card *ngIf="hasChosen && cardNumber === i"style="min-height: 100px">
					{{card}}
				</ion-card>
			</div>
			<div *ngIf="!hasChosen">
				Pick a card (Tap to open it)
			</div>
			<div *ngIf="hasChosen">
				You earned {{coinEarned}} coins!
				<button clear ion-button (click)="continue()">Continue</button>
			</div>
		</ion-card-content>
	</ion-card>

</ion-content>
