<!--
  Generated template for the UsereditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<!--<button clear id="back" (click)="goBack()">
  		<ion-icon name="arrow-back" id="back" style="zoom:2.0;"></ion-icon>
  	</button>-->
    <ion-title style="display:inline-block">Edit</ion-title>
    <!--<ion-buttons end>
	    <button clear id="back" (click)="goBack()">
	  		<ion-icon name="md-checkbox-outline" id="back" style="zoom:2.0; display: inline-block; color:white;"></ion-icon>
	  	</button>
  	</ion-buttons>-->
  </ion-navbar>

</ion-header>


<ion-content class="edit_content" padding>
	<!-- UPLOAD PHOTO HERE -->
	<ion-card class="cards">

		<ion-card-content class="card_content" text-center>
			<!-- Loaded Images -->
			<div class="default_image" *ngFor="let image of profileImages; let i = index" >
				<img src="{{image}}">
				<ion-icon (click)="deletePhoto(i, image)" name="close-circle" ></ion-icon>
			</div>
			
			<!-- Empty Images -->
			<div class="other_image" *ngFor="let image of emptyImageCounter(profileImages.length); let i = index">
				<div id="images">
					<!-- Uploading animation here instead of <p>-->
					<div [hidden]="!(isUploading && i===0)">
						<ion-spinner name="bubbles"></ion-spinner>
						<!-- <img src="{{currentImage}}"> -->
					</div>
					<span [hidden]="isUploading && i===0" (click)="uploadPhoto()"><ion-icon name="add-circle"></ion-icon></span>
				</div>
			</div>
		</ion-card-content>	
		
	</ion-card>
	<ion-card class="cards">
		<ion-card-header class="header" text-center>
			Edit Intro
		</ion-card-header>
		<ion-card-content>
			<ion-textarea style="color: white;" [(ngModel)]="bio" (ionChange)="bioChanged()" placeholder="About you"></ion-textarea>
		</ion-card-content>
	</ion-card>
	<ion-card class="cards">
		<ion-card-header class="header" text-center>
			Edit Interests
		</ion-card-header>
		<ion-card-content>
			<span class="interests" *ngFor="let interest of interests; let i = index"  #interestItem>{{interest}} <ion-icon (click)="deleteInterest(i)" name="md-close-circle"></ion-icon></span>
			<span class="interests" *ngFor="let cat of category; let i = index"  #interestItem>{{cat}} </span>
		</ion-card-content>
		<ion-list id="categories">
			<ion-item>
				<ion-label>Choose topics</ion-label>
					<ion-select [(ngModel)]="category" multiple="true" cancelText="Cancel" okText="Okay!">
					<ion-option value="Aesthetic">Aesthetic</ion-option>
					<ion-option value="Animals">Animals</ion-option>
					<ion-option value="aAnime & Manga">Anime & Manga</ion-option>
					<ion-option value="Art">Art</ion-option>
					<ion-option value="Beauty">Beauty</ion-option>
					<ion-option value="Books">Books</ion-option>
					<ion-option value="Esports">Esports</ion-option>
					<ion-option value="Fashion">Fashion</ion-option>
					<ion-option value="Food">Food</ion-option>
					<ion-option value="Health & Fitness">Health & Fitness</ion-option>
					<ion-option value="Horror">Horror</ion-option>
					<ion-option value="Kpop/K-Drama">Kpop/K-Drama</ion-option>
					<ion-option value="LGBTQ+">LGBTQ+</ion-option>
					<ion-option value="Movies">Movies</ion-option>
					<ion-option value="Music">Music</ion-option>
					<ion-option value="Science">Science</ion-option>
					<ion-option value="Travel">Travel</ion-option>
					<ion-option value="TV & Web-Series">TV & Web-Series</ion-option>
					<ion-option value="Video Games">Video Games</ion-option>
					<ion-option value="Writing">Writing</ion-option>
			</ion-select>
			</ion-item>
		</ion-list>
		<ion-input class="input_interest" type="text" [(ngModel)]="interestInputValue" floating placeholder="Add custom Interest" style="width: 80%;" (keyup.enter)=addInterest(interestInput.value) #interestInput></ion-input>
		<!-- <button ion-button (click)="addInterest(interestInput.value)">Add</button> -->
	</ion-card>
	<ion-card class="cards">
		<ion-card-header class="header" text-center>
			Gender
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item class="gender">
			    	<ion-label>Male</ion-label>
			    	<ion-checkbox [(ngModel)]="isMale" (ionChange)="chooseMale()"></ion-checkbox>
			  	</ion-item>
			</ion-list>
		</ion-card-content>
		<ion-card-content>
			<ion-list>
				<ion-item class="gender">
			    	<ion-label>Female</ion-label>
			    	<ion-checkbox [(ngModel)]="isFemale" (ionChange)="chooseFemale()"></ion-checkbox>
			  	</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Save needed? or Realtime changes -->
	<!-- <button ion-button (click)="saveProfile()">Save</button>	 -->
</ion-content>
