page-user-edit {
	.toolbar-background {
 	 	background-color: #189dae;
	}
	.edit_content{
		background-image: url('../../../assets/imgs/finalbg-01.jpg') !important;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.default_image img{
		height: 15vh;
		width: 25vw; 
		margin-right: 10px; 
		margin-bottom: 10px;
		float: left;
		text-align: center;
	}
	.default_image ion-icon{
		font-size: 35px;
		float: left;
		margin-left: -11vw;
		margin-top: -2vh;
		color: #189dae;
	}
	.other_image ion-icon{
		position: absolute;
		font-size: 35px;
		margin-left: 5vw;
		margin-top: -2vh;
	}
	#images{
		background-color: whitesmoke; 
		text-align: center;
		height: 15vh; 
		width: 25vw;
		margin-bottom:10px;
		margin-right: 10px; 
		float: left;
	}
	.card_content{
		text-align: center;
		margin-left: 6vw;
	}
	ion-spinner * {
	  width: 28px;
	  height: 28px;
	  stroke: #444;
	  fill: #222;
	  duration:3000;
	}
	.interests{
		background-color: dark;
		border-radius: 10px; 
		background-color: #2F6690; 
		margin: 5px 5px;
		padding: 5px 10px;
		display: inline-flex;
		min-width: 50px;
	}
	.interests ion-icon{
		color: white;
		font-size: 20px;
		margin-left: 5vw;

	}
	.header{
		font-weight: bold;
	}
	.input_interest{
		background-color: white;

	}
	ion-input{
		width: 100% !important;
	}
	.text-input {
	  text-align: center;
	}
	#categories{
		border-bottom-style: solid;
		border-color: #35324e;
	}
	.pics{
		padding-left: 4.7vw;
	}
}
