page-user-edit {
	.scroll-content
	  {
	    padding-bottom: 0 !important;
	  }
	.toolbar-background {
 	 	background-color: #189dae;
	}
	.edit_content{
		background-image: url('../../../assets/imgs/finalbg-01.jpg') !important;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.default_image img{
		// height: 15vh;
		// width: 25vw; 
		height: 19vh;
		width: 33vw; 
		position: relative;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 10px;
		border-radius: 10px;
		object-fit: cover;
	}
	.default_image ion-icon{
		font-size: 35px;
		float: right;
		margin-top: -21.5vh;
		margin-left: 7.5vw;
		position:absolute;
		z-index: 2;
		color: #f76f81;
	}
	.other_image ion-icon{
		position: absolute;
		font-size: 35px;
		margin-left: 9vw;
		margin-top: -1vh;
	}
	#images{
		position: relative;
		background-color: whitesmoke; 
		text-align: center;
		height: 19vh;
		width: 33vw; 
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom:10px;
		border-style: dashed;
		border-width: 2px;
		border-color: gray;
		border-radius: 10px;
	}
	.card_content{
		text-align: center;
		margin-left: 6vw;
	}
	ion-spinner * {
	  width: 28px;
	  height: 28px;
	  stroke: #444;
	  fill: #222;
	  duration:3000;
	}
	.interests{
		background-color: dark;
		border-radius: 10px; 
		background-color: #2F6690; 
		margin: 5px 5px;
		padding: 5px 10px;
		display: inline-flex;
	}
	.interests ion-icon{
		color: white;
		font-size: 20px;
		margin-left: 5vw;

	}
	.header{
		font-weight: bold;
	}
	.input_interest{
		background-color: white;

	}
	ion-input{
		width: 100% !important;
	}
	.text-input {
	  text-align: center;
	}
	#categories{
		border-bottom-style: solid;
		border-color: #35324e;
	}
	.pics{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
  		justify-content: center;
  		padding: 10px 0px;
	}
	.main_card{
		min-height: 50%;
	}
}
