<!--
  Generated template for the UsereditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
  	<!--<button clear id="back" (click)="goBack()">
  		<ion-icon name="arrow-back" id="back" style="zoom:2.0;"></ion-icon>
  	</button>-->
    <ion-title style="display:inline-block">Edit</ion-title>
    <ion-buttons end>
	    <button clear id="back" (click)="goBack()">
	  		<ion-icon name="md-checkbox-outline" id="back" style="zoom:2.0; display: inline-block; color:white;"></ion-icon>
	  	</button>
  	</ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="edit_content" padding>
	<!-- UPLOAD PHOTO HERE -->
	<ion-card>

		<ion-card-content>
			<!-- Loaded Images -->
			<div class="default_image" *ngFor="let image of profileImages; let i = index" >
				<img src="{{image}}">
				<ion-icon (click)="deletePhoto(i, image)" name="close-circle" ></ion-icon>
			</div>
			
			<!-- Empty Images -->
			<div class="other_image" *ngFor="let image of emptyImageCounter(profileImages.length); let i = index">
				<div id="images">
					<!-- Uploading animation here instead of <p>-->
					<div [hidden]="!(isUploading && i===0)">
						<p>Loading...</p>
						<!-- <img src="{{currentImage}}"> -->
					</div>
					<span [hidden]="isUploading && i===0" (click)="uploadPhoto()"><ion-icon name="add-circle"></ion-icon></span>
				</div>
			</div>
		</ion-card-content>	
		
	</ion-card>
	<ion-card>
		<ion-card-header>
			Edit Intro
		</ion-card-header>
		<ion-card-content>
			<ion-textarea [(ngModel)]="bio" (ionChange)="bioChanged()" placeholder="About you"></ion-textarea>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			Edit Interests
		</ion-card-header>
		<ion-card-content>
			<span *ngFor="let interest of interests; let i = index" style="border-radius: 25px; background-color: whitesmoke; margin: 20px 5px; padding: 5px" #interestItem>{{interest}} <ion-icon (click)="deleteInterest(i)" name="ios-close-circle-outline"></ion-icon></span>
		</ion-card-content>
		<ion-input type="text" [(ngModel)]="interestInputValue" placeholder="Enter Interest" style="width: 80%;" (keyup.enter)=addInterest(interestInput.value) #interestInput></ion-input>
		<!-- <button ion-button (click)="addInterest(interestInput.value)">Add</button> -->
	</ion-card>
	<ion-card>
		<ion-card-header>
			Gender
		</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item>
			    	<ion-label>Male</ion-label>
			    	<ion-checkbox [(ngModel)]="isMale" (ionChange)="chooseMale()"></ion-checkbox>
			  	</ion-item>
			</ion-list>
		</ion-card-content>
		<ion-card-content>
			<ion-list>
				<ion-item>
			    	<ion-label>Female</ion-label>
			    	<ion-checkbox [(ngModel)]="isFemale" (ionChange)="chooseFemale()"></ion-checkbox>
			  	</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<!-- Save needed? or Realtime changes -->
	<!-- <button ion-button (click)="saveProfile()">Save</button>	 -->
</ion-content>
