page-user-tutorial {
	.toolbar-background {
 	 	background-color: #189dae;
	}
  .slide1 img{
    height: 60vh;
  }
  .div2{
    margin-bottom: 9.5vh;
  }
  .slide2 img{
    height: 60vh;
  }
  .div3 img{
    height: 40vh;
  }
  /*
	 .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2.8rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }*/
}
