page-user-setting {
	.setting_content{
		background-image: url('../../../assets/imgs/finalbg-01.jpg') !important;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
	.toolbar-background {
 	 	background-color: #189dae;
	}
	.labels{
	}
}
