page-user {

}
ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:12rem;
    width:12rem;
}
#back{
	background: none !important;
  	background-color: none !important;
  	box-shadow: none !important;
}
#edit{
	color: white !important;
}
#settings{
	color: white !important;
}