page-user {

}
ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:11rem;
    width:11rem;
}
img{

    border-style: solid;
	border-color: #828282;
	border-width: 1px;
}
#back{
	background: none !important;
  	background-color: none !important;
  	box-shadow: none !important;
}
#edit{
	background-color: transparent; 
	text-transform: none;
	outline-color: black;
}
#edit span{
	color: black;
}
#settings{
	background-color: #16425B; 
}
#settings ion-icon{
	font-size: 20px;
}
.profile_content{
	background-image: url('../../../assets/imgs/finalbg-01.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.name{
	color: white;
}
.cards{
	background-color: #35324e;
}*/
.header{
	font-weight: bold;
}
.interests{
	background-color: #2F6690;
	margin: 2px 5px;
	padding: 5px 10px;
	display: inline-flex;
	border-radius: 10px; 
	color: white;
}
.bottom{
	margin-top: -20px;
	margin-left: -1vw;
}
.infos{
	margin-top: 5vh;
}
.gen_col{
}