page-user {

}
ion-avatar,
ion-avatar > img{
    border-radius:50%;
    height:12rem;
    width:12rem;
}
#back{
	background: none !important;
  	background-color: none !important;
  	box-shadow: none !important;
}
#edit{
	color: white !important;
}
#settings{
	color: white !important;
}
.profile_content{
	background-color: #29263E;
}
.name{
	color: white;
}
.cards{
	background-color: #35324e;
}
.header{
	color: white;
	font-weight: bold;
}
#bio{
	color: white;
}
.interests{
	@include linear-gradient(left,$pinky);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
	margin: 2px 5px;
	padding: 5px;
	display: inline-flex;
	border-radius: 30px; 
	color: white;
}
