page-user-home {
    .home_content{
        background-color: #29263E;
    }
    .card-container {
        height: 90vw;
        width: 90vw;
    }
    .user_img {
        display: block;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    .info{
        height: 70px;
        width: 90vw;
        margin-left: -17px;
    }
	.cards {
        position: relative;
        text-align: center;
        height: 65vh !important;
        width: 90vw !important;
        background-size: 160% 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    img {
        height: 100% !important;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .back-cards{
        pointer-events: none;
    }
    #button{
        z-index: 999;
    }
    #eye{
        font-size: 35px;
    }
}


//loading css{

@keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-gear > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds-gear 3.1s infinite linear;
  animation: lds-gear 3.1s infinite linear;
  position: relative;
}
.lds-gear > div div {
  position: absolute;
  width: 26px;
  height: 192px;
  background: #f05125;
  left: 100px;
  top: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lds-gear > div div:nth-child(1) {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.lds-gear > div div:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
}
.lds-gear > div div:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg);
}
.lds-gear > div div:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.lds-gear > div div:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  transform: translate(-50%, -50%) rotate(120deg);
}
.lds-gear > div div:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) rotate(150deg);
  transform: translate(-50%, -50%) rotate(150deg);
}
.lds-gear > div div:nth-child(8) {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
}
.lds-gear {
  width: 65px !important;
  height: 65px !important;
  -webkit-transform: translate(-32.5px, -32.5px) scale(0.325) translate(32.5px, 32.5px);
  transform: translate(-32.5px, -32.5px) scale(0.325) translate(32.5px, 32.5px);
}