page-user-home {
	.cards {
        position: relative;
        text-align: center;
        height: 65vh !important;
        width: 90vw !important;
        background-size: 160% 100%;
        background-repeat: no-repeat;
        background-position: center; 
    }
    img {
        height: 100% !important;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #buttons{
        margin-top: 80%;
    }
    #grid{
        margin-top: 70vh;
    }

}
