page-user-all-tutorial {
	.toolbar-background {
	 	 	background-color: #189dae;
		}
	.div1{
		margin-bottom: 12vh;
	}
	.slide1 img{
		height: 60vh;
	}
	.slide2 img{
    	height: 60vh;
  	}
  	.slide1 img{
    height: 60vh;
	}
	.div2{
	margin-bottom: 9.5vh;
	}
	.slide2 img{
	height: 60vh;
	}
	.div3 img{
	height: 40vh;
	}
	.go{
	opacity: 0.5;
	}
	.slide3 img{
		height: 50vh;
	}
}
