page-user-match-tutorial {
	.toolbar-background {
 	 	background-color: #189dae;
	}
  .slide1 img{
    height: 60vh;
  }
  .div2{
    margin-bottom: 9.5vh;
  }
  .slide2 img{
    height: 60vh;
  }
  .div3 img{
    height: 40vh;
  }
  .go{
    opacity: 0.5;
  }
}
