<ion-header>

	<ion-navbar>
		<ion-title>Maps</ion-title>	
	</ion-navbar>

</ion-header>

<ion-content class="map_content">
	<div #map id="map"></div>
	<div>
		<ion-grid>
			<ion-row text-center *ngIf="activeIndex>-1 && !isLoading">
				<ion-col>
					<ion-card>
						<b>You</b>
						<p>{{distance.sender}}km away</p>
					</ion-card>
				</ion-col>
				<ion-col *ngIf="geoStatus.sender && geoStatus.receiver && !isInactive">
					<ion-card>
						<b>{{userProfile?.firstName}}</b>
						<p>{{distance.receiver}}km away</p>
					</ion-card>
				</ion-col>
				<ion-col *ngIf="!geoStatus.sender || !geoStatus.receiver || isInactive">
					<p>Unavailable</p>
				</ion-col>
			</ion-row>
			<!-- <ion-row text-center *ngIf="activeIndex>-1 && !isLoading">
				<p>If you</p>
				<button ion-button (click)="userArrived()">Mark Arrived</button>
			</ion-row> -->
			<ion-row text-center *ngIf="activeIndex === -1 && !isLoading">
				No meetup currently available
			</ion-row>
			<ion-row text-center *ngIf="isLoading">
				Checking meetup availability
			</ion-row>
		</ion-grid>
	</div>
</ion-content>
