page-user-check {
	.toolbar-background {
 	 	background-color: #29263E;
	}
	.check{
		background-color:#FFFFFF;
	}
	ion-slide{
		height: 40vh !important;
		width: 100vw !important;
		object-fit: contain;
		border-bottom: solid 1px;
		border-color: #828282;
	}
	.swiper-pagination-bullet {
		background: #34bbff;
		margin: 0 3px;
	}
	.location{
		margin-top: -7px;
	}
	.interests{
		background-color: #2F6690;
		margin: 2px 5px;
		padding: 5px 10px;
		display: inline-flex;
		border-radius: 10px; 
		color: white;
		padding: 5px 10px;
		display: inline-flex;
		min-width: 50px;
	}
}
