page-user-form {
	img{
		height: 100px;
		width: auto;
		border:none;
	}
	.form_content{
		background-color: #1a2128;
	}
	.form_text{
		color: white;
	}
	.interest{
		border-radius: 30px; 
		background-color: #ef8dd7; 
		margin: 5px 5px;
		padding: 5px;
		display: inline-flex;
	}
	.icon{
		color: white;
		font-size: 20px;
		margin-left: 5px;

	}
	.scroll-content {
    padding-bottom: 0 !important;
	}
	.form_icons{
		font-size:50px;
	}
}
