<!--
  Generated template for the UserFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content class="form_content" padding>

	<ion-slides>
		<ion-slide>
			<img style="height: 150px !important;" src="../../assets/imgs/gender1.png">
			<h3 class="form_text">Are you a</h3>
			<ion-list>
			<ion-item>
				<ion-label>Male</ion-label>
				<ion-toggle [(ngModel)]="isMale" (ionChange)="toggleMale()"></ion-toggle>
			</ion-item>
			<ion-item>
				<ion-label>Female</ion-label>
				<ion-toggle color="danger" [(ngModel)]="isFemale" (ionChange)="toggleFemale()"></ion-toggle>
			</ion-item>
			
		</ion-list>

		</ion-slide>
		<ion-slide>
			<!-- Change to Multi-value input -->
			<img style="height: 150px !important;" src="../../assets/imgs/cloud.png">
			<h3 class="form_text">Give us atleast 3 interests to work with</h3>
			<ion-card class="cards">
				<ion-card-header *ngIf="!(interests.length>0)" (click)="seeInterests()" text-center>Click me!</ion-card-header>
				<ion-card-content (click)="seeInterests()">
					<span class="interests" *ngFor="let interest of interests; let i = index">{{interest}}</span>
					<!-- <span class="interests" *ngFor="let cat of category; let i = index" #interestItem>{{cat}} </span> -->
				</ion-card-content>
				<!-- <ion-input class="input_interest" type="text" [(ngModel)]="interestInputValue" floating placeholder="Add custom Interest" style="width: 80%;" (keyup.enter)=addInterest(interestInput.value) #interestInput></ion-input> -->
				<!-- <button ion-button (click)="addInterest(interestInput.value)">Add</button> -->
			</ion-card>
		</ion-slide>
		<ion-slide>
			<img style="height: 150px !important;" src="../../assets/imgs/pin.png">
			<h3 class="form_text">Allow Meetr to access your location?</h3>
			<ion-item>
				<ion-label>Allow</ion-label>
				<ion-checkbox disabled [checked]="isLocation"></ion-checkbox>
			</ion-item>
		</ion-slide>
	</ion-slides>
	<ion-fab right bottom [hidden]="slides.isEnd()">
    	<button ion-fab color="secondary" [disabled]="(slideIndex===1 && interests.length<3)" (click)="gotoNext()"><ion-icon class="form_icons" name="arrow-dropright"></ion-icon></button>
  	</ion-fab>
  	<ion-fab left bottom [hidden]="slides.isBeginning()">
    	<button ion-fab color="danger" [disabled]="!back" (click)="goPrev()"><ion-icon class="form_icons" name="arrow-dropleft"></ion-icon></button>
  	</ion-fab>
  	<ion-fab right bottom [hidden]="!slides.isEnd()">
    	<button ion-fab color="secondary" [disabled]="slideIndex===2 && !isInterest && !isLocation" (click)="formFinished()">Finish</button>
  	</ion-fab>
</ion-content>
